.header {
  font-size: 24px;
  position: relative;
  width: max-content;
  margin: auto auto 24px;

  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 1rem;
    background: var(--color-tertiary);
    background: var(--underline-header);
  }
}

.competition-details{
  text-align: center;
  min-height: 635px;

  p {
    text-align: center;
    max-width: 400px;
    margin: auto auto;
  }
}

.competition-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
  margin: 20px auto 40px;
}

.grid-item {
  min-width: 0;
  min-height: 600px;
}

.swiper {
  width: 100%;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--underline-header);
  flex: 1;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slide {
  margin-bottom: -2px !important;
}


.details-container {
  width: 100%;
}

.competition-details {
  padding: 12px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--underline-header);
}

.timer-info {
  text-align: center;
}


.counter {
  display: flex;
  gap: 40px;
  width: max-content;
  margin: 20px auto 20px;


  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    position: relative;

    &:not(:last-child)::before{
      content: ":";
      position: absolute;
      right: -24px;
      font-size: 32px;

    }


    span:first-child {
      font-size: 32px;
      font-family: "Bungee", sans-serif !Important;
    }

    span:last-child {
      font-size: 10px;
    }
  }
}

.ticket-entries {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  b {
    color: var(--color-tertiary);
  }

  img {
    width: 24px;
    height: auto;
  }

  div {
    display: flex;
    align-items: center;
    gap:16px;
    font-size: 14px;
  }
}

.tickets-bought{
  margin-top: 12px;

  .progress-bar {
    width: 100%;
    background-color: var(--color-secondary);
    height: 24px;

    div {
      background-color: var(--color-tertiary);
      height: 100%;
    }
  }

  p{
    margin-top: 8px;
    text-align: left;
    margin-right: auto;
    margin-left: 0;
    font-size: 14px;

    b {
      color: var(--color-tertiary);
    }
  }
}

.swiper-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.price-container {
  font-size: 24px;
  position: relative;
  width: max-content;
  margin: auto auto 16px;

  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 1rem;
    background: var(--color-tertiary);
    background: var(--underline-header);
  }
}

.email-info {
  font-size: 12px;
  margin-bottom: 8px !important;
}

.no-competition-container {
  margin: 40px auto;
  text-align: center;
  max-width: 512px;
  width: 100%;

  h2 {
    font-size: 28px;
    margin-bottom: 24px;
    line-height: 1.15;
  }

  p {
    text-align: justify;
    line-height: 1.3;
  }
}

.competition-ended {
  p {

    text-align: justify;
    line-height: 1.3;
  }
}


@media screen and (max-width: 800px) {
  .competition-container{
    grid-template-columns: 1fr ;
  }

  .grid-item {
    min-height: unset;
  }

  .competition-details{
    text-align: center;
    min-height: unset;
  }

  .header {
    font-size: 18px;
  }

  .price-container {
    font-size: 18px;
    position: relative;
    width: max-content;
    margin: 16px auto;

  }
}
