.language-changer {
  display: flex;
  align-items: center;
  position: relative;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.language-container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
  padding-right: 16px;

  //&:after {
  //  content: "";
  //  position: absolute;
  //  height: 24px;
  //  width: 1px;
  //  background-color: var(--color-light-blue);
  //  left: -10px;
  //  top: 50%;
  //  transform: translateY(-50%);
  //}

  &:before {
    content: "";
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--color-tertiary);
    position: absolute;
    right: 0;
  }
}

.icon {
  width: 24px;
  height: auto
}

.selected-language {
  width: 24px;
  border-radius: 6px;
}

.dropdown {
  position: absolute;
  top: 60px;
  background-color: var(--color-tertiary);
  box-shadow: var(--medium-shadow);
  border-radius: var(--dropdown-radius);
  width: max-content;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in;

  &.active {
    visibility: visible;
    opacity: 1;
    top: 50px;
  }

  span {
    display: flex;
    padding: 8px 16px;
    border-bottom: 1px solid var(--color-primary);
    gap: 8px;
    color: var(--color-primary);
    cursor: pointer;
    line-height: 1.5;
    align-items: center;

    img {
      height: 15px;
      border-radius: 24px;
      width: 20px;
    }

    &:last-child {
      border: none;
    }

    &:hover {
      color: var(--color-light-black);
    }
  }
}

@media screen and (max-width: 800px) {
  .language-changer {
    padding: 8px;
  }

  .dropdown {
    top: 40px;

    &.active {
      top: 30px;
    }
  }
}
