.title {
  margin: 42px auto;
  background: var(--color-tertiary);
  background: var(--underline-header);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 32px;
  color: transparent;
  text-align: center;
  position: relative;

  &::after {
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 180px;
    height: 8px;
    border-radius: 1rem;
    background: var(--color-tertiary);
    background: var(--underline-header);
  }
}

.description {
  max-width: 600px;
  width: 100%;
  text-align: justify-all;
  margin: auto auto;
  margin-bottom: 48px;
  line-height: 1.3;
  padding: 40px;
  border: 1px solid var(--color-tertiary);
  border-radius: 25px;
  background-color: rgba(93, 156, 93, 0.7);

  b {
    font-weight: bold;
  }
}


@media screen and (max-width: 612px) {
  .title {
      font-size: 24px;

    &:after {
      height: 6px;
      bottom: -10px;
    }
  }

  .description {
    font-size: 14px;
    padding: 16px;
  }
}
