.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);

  .logo {
    max-width: 400px;
    height: auto;
    width: 100%;
    margin: auto;
  }

  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
    font-family: "Bungee", sans-serif !Important;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
  }

  p {
    text-align: center;
    max-width: var(--text-max-size);
    margin: 20px auto;
    color: var(--color-secondary);
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 40px;
    position: relative;
    margin-bottom: 20px;

    &::after {
      position: absolute;
      top: -28px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      width: 150px;
      height: 10px;
      border-radius: 1rem;
      background: var(--color-tertiary);
      background: var(--underline-header);
    }
  }
}

.header2 {
  font-family: "Bungee", sans-serif !Important;
  font-size: 32px;
  margin: auto;
  position: relative;
  background: var(--color-tertiary);
  background: var(--underline-header);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;


  &:before {
    content: "";
    background-color: var(--color-tertiary);
    max-width: 300px;
    width: 100%;
    bottom: -10px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 2rem;
  padding: 0;
  list-style-type: none;
  justify-items: center;
  align-items: center;
  position: relative;
  min-height: 200px;
  margin: 60px 0;
}

.cards {
  padding: 20px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--underline-header);
  border-radius: 30px;
  width: 100%;
  min-height: 120px;

  h3 {
    margin-bottom: 12px;
    font-size: 20px

  }

  p {
    font-size: 18px;
  }
}

.index-card {
  font-size: 24px;
  margin-right: 4px;
}

@media screen and (max-width: 500px) {

  .card-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
    padding: 0;
    list-style-type: none;
    justify-items: center;
    align-items: center;
    position: relative;
    min-height: 200px;
    margin: 60px 0;
  }

}



@media screen and (max-width: 500px) {
  .section {
    h5 {
      font-size: 18px;
    }
  }

  .header {
    h1 {
      font-size: 24px;

      &::after {
        height: 8px;
        bottom: -20px;
      }
    }

    p {
      font-size: 18px;
      text-align: justify;
    }
  }

  .header2 {
    font-size: 24px;
  }

  .cards {

    h3 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
      line-height: 1.3;
    }
  }

  .index-card {
    font-size: 16px;
  }
}
