.navbar-container {
  height: var(--navbar-height);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  box-shadow: var(--small-shadow-black);
  z-index: 100;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid var(--color-tertiary);

}

.content-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  position: relative;

  img {
    position: absolute;
    margin: auto;
    height: 80px;
    width: auto;
    top: -10px;
  }
}

.bg-logo {
  display: none;
  max-width: 350px;
  opacity: 0.20;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  object-fit: cover;
}

.links-container {
  display: flex;
  gap: 48px;



  a {
    color: var(--color-secondary);
    text-decoration: none;
    position: relative;
    line-height: 1.5;
    padding: 18px 0;
    font-weight: 500;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      height: 14px;
      width: 1px;
      background-color: var(--color-tertiary);
      right: -24px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child:before {
      content: none;
    }

    &:after {
      display:block;
      content: '';
      width: 100%;
      border-bottom: solid 1px var(--color-tertiary);
      position: absolute;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      bottom: 12px;
    }

    &:hover:after {
      transform: scale(1);
    }
  }

  & > div {
    display: flex;
    align-items: center;

    a {
      &:after {
        content: none;
      }

      &:hover {
        transition: none;
      }
    }
  }
}


.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.language-container {
  display: flex;
}

.nav-hamburger {
  display:none;
}

@media screen and (max-width: 800px) {
  .icon-container {
    img {
      height: 60px;
      top: -28px;
    }
  }

  .navbar-content {
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    z-index: 100;
    flex-direction: column;
    left: -100%;
    top: var(--navbar-height);
    transition: 0.3s left ease-in;
    box-shadow: 0 10px 10px -10px var(--color-tertiary) inset;

    background-color: var(--color-primary);
    background-image: url("/logo.png");
    background-blend-mode: color-burn;


    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: inherit;
      background-size: 200px;
      background-position: top;

      filter: grayscale(100%) brightness(0.3);
      opacity: 0.3;

      z-index: 0;
    }

    &.open {
      left: 0;
    }
  }

  .links-container {
    flex-direction: column;
    padding: var(--container-side-padding);
    gap: 18px;
    width: fit-content;

    a {
      padding: 0;
      width: max-content;

      &:before {
        content: none;
      }
      &:after {
        content: none;
      }
    }
  }

  .language-container {
    position: absolute;
    top: 12px;
    right: 8px;
  }

  .nav-hamburger {
    margin-left: auto;
    width: 20px;
    height: 40px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }


  /* Icon 2 */

  .nav-hamburger {
    display: block;
    position: absolute;
    right: var(--container-side-padding);
    top: 50%;
    transform:translateY(-50%);
  }

  .nav-hamburger span {
    display: block;
    position: absolute;
    height: 1px;
    width: 50%;
    background: var(--color-tertiary);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .nav-hamburger span:nth-child(even) {
    left: 50%;
    border-radius: 0 1px 1px 0;
  }

  .nav-hamburger span:nth-child(odd) {
    left:0px;
    border-radius: 1px 0 0 1px;
  }

  .nav-hamburger span:nth-child(1), .nav-hamburger span:nth-child(2) {
    top: 12px;
  }

  .nav-hamburger span:nth-child(3), .nav-hamburger span:nth-child(4) {
    top: 18px;
  }

  .nav-hamburger span:nth-child(5), .nav-hamburger span:nth-child(6) {
    top: 24px;
  }

  .nav-hamburger.open span:nth-child(1),.nav-hamburger.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .nav-hamburger.open span:nth-child(2),.nav-hamburger.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .nav-hamburger.open span:nth-child(1) {
    top: 16px;
    left: 2px;
  }

  .nav-hamburger.open span:nth-child(2) {
    top: 16px;
    left: calc(50% - 1px);
  }

  .nav-hamburger.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  .nav-hamburger.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  .nav-hamburger.open span:nth-child(5) {
    top: 23px;
    left: 2px;
  }

  .nav-hamburger.open span:nth-child(6) {
    top: 23px;
    left: calc(50% - 1px);
  }

  .bg-logo {
    display: block;
  }
}
