
.formik {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  div {
    margin-top: 4px;
    color: var(--color-error);
    text-align: left;
    padding-left: 8px;
    font-size: 12px;
  }
}
