
.formik {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.verified {
  color: var(--color-verified);
  font-size: 12px;
  margin: 8px auto !important;
}

.errorMessage {
  font-size: 12px;
  margin: 8px auto !important;
  color: var(--color-error);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;

  div {
    color: var(--color-error);
    text-align: left;
    padding-left: 8px;
    font-size: 12px;
    position: absolute;
    bottom: -16px;
    width: calc(100% + 14px);
  }
}


.input-number-container {
  display: flex;
  gap: 20px;

  .input-container:first-child {
    width: 80px;
  }
  .input-container:last-child {
    width: 100%;
  }
}
