.footer {
  min-height: 360px;
  border-top: 1px solid var(--color-tertiary);
  background-color: var(--color-primary);
  padding: 40px 0;

  img {
    max-width: 200px;
    height: auto;
  }

  span {
    margin-bottom: 12px;
    font-size: 12px;
  }

  a {
    font-size: 12px;

  }
}

.footer-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  text-align: center
}


.social-container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  img {
    width: 24px;
    height: auto;
  }
}


.cc-container {
  display: flex;
  gap: 4px;

  margin-top: 20px;
  margin-bottom: 40px;
  img {
    border-radius: 3px;
    background: #fff;
    height: 31px;
  }
}
