@use './assets/styles/variables.scss';
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap" );

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: var(--navbar-height);
  color: var(--color-secondary);
}

.main-content {
  padding-top: var(--navbar-height);
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--color-primary);
  background-image: url("/logo.png");
  background-blend-mode: color-burn;
  position: relative;


  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: 450px;
    background-position: center;

    filter: grayscale(100%) brightness(0.3);
    opacity: 0.2;

    z-index: 0;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: transparent;
  background: var(--color-tertiary);
  background: var(--underline-header);
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Bungee", sans-serif !Important;

}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

head, body {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-family: "Zalando Sans Expanded", sans-serif;
}

main {
  background-color: var(--color-primary)
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-1 {
  flex: 1;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 var(--container-side-padding);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.bg-logo {
  min-height: 100dvh;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  z-index: -1;

  img {
    height: 420px;
    width: auto;
    margin: auto;
    opacity: 0.05;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
  }
}

.routes {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 80px);
  overflow-y: auto;
}

.header-image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  max-height: 680px;
  z-index: 1;
}

.mobile-header-image {
  z-index: 1;
  display:none;
}

.description-text {
  font-size: 18px;
  line-height: 1.25;
  margin-bottom: 24px;
}

.list {
  padding-left: 14px;
  ul {
    list-style-type: disc;
  }
}

.swiper2 .swiper-slide {
  opacity: 0.4;
}

.swiper2 .swiper-slide {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--underline-header);
  margin-bottom: -2px !important;
 }

.swiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper2 {
  margin-top: 20px;
  height: 100px;
  cursor: pointer;
  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.swiper-button-prev, .swiper-button-next{
  color: var(--color-tertiary) !important;
  height: 30px !important;
}


.list-title{
  font-weight: 500;
  margin-bottom: 8px;
}

a.active {
  color: transparent !important;
  position: relative;
  background: var(--color-tertiary) !important;
  background: var(--underline-header) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
}

section {
  position: relative;
  z-index: 1;
}

.service-subtitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;

  &:before {
    content: none;
  }
}


::-webkit-scrollbar {
  display: none;
}

.wa-w {
  top: auto !important;
  bottom: 0 !important;
  z-index: 10 !important;
}

.wa-w_b {
  height: 40px !important;
  width: 40px !important;
  left: -40px !important;
}

.wa-w_b .wa-w-i  {
  font-size: 26px !important;
}

.formik-input {
  width: 100%;
  border: none;
  height: 32px;
  font-size: 14px;
  color: var(--color-primary);
  padding: 0 0 0 8px;
  outline: none !important;
  border: 1px solid var(--color-tertiary)
}

.submit-button {
  padding: 16px 24px;
  font-size: 16px;
  background: var(--color-tertiary);
  background: var(--underline-header);
  outline: none;
  color: var(--color-primary);
  border: none;
  font-weight: bold;
  transition: all 0.2s ease-in;
  cursor: pointer;
  font-family: "Bungee", sans-serif !Important;


  &:hover {
    box-shadow: var(--button-shadow);
  }
}

@media screen and (min-width: 2000px) {

  .header-image {
    object-fit: cover;
    object-position: top;
    width: 100%;
    max-height: 1000px;
    z-index: 1;
  }
}

@media screen and (max-width: 800px) {
  .header-image {
    display: none;
  }

  .mobile-header-image {
    display: block;
  }

  .br-htp {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .main-content {
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: inherit;
      background-size: 400px;
      background-position: center;

      filter: grayscale(100%) brightness(0.3);
      opacity: 0.2;

      z-index: 0;
    }
  }
}

