.title {
  margin: 42px auto;
  background: var(--color-tertiary);
  background: var(--underline-header);
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Bungee", sans-serif !Important;
  font-size: 32px;
  color: transparent;
  text-align: center;
  position: relative;

  &::after {
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 180px;
    height: 8px;
    border-radius: 1rem;
    background: var(--color-tertiary);
    background: var(--underline-header);
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 680px;
  margin: 50px auto 40px;
}

.card {
  text-align: center;

  h3 {
    font-family: "Bungee", sans-serif !Important;
    margin-bottom: 12px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;

  }

  p {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 4px;
    line-height: 1.5;
  }
}

.tip-container {
  max-width: 600px;
  margin: auto auto 40px;
  padding: 24px;
  border: 1px solid white;

  h4 {
    margin-bottom: 12px;
    font-size: 22px;
    color: transparent;
    text-align: center;
    position: relative;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
  }
}
